@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --bg-black: #22252D;
    --bd-keys: #292d36; 
    --txt-white: white;
    --btn-shadow: #ffffff33;
    --bd-btnIconDesactive: #6C757D;
    --bd-btnIconActive: #ffffff;
    /* --bg-black: white;
    --bd-keys: #F8F9FA; 
    --txt-white: black;
    --btn-shadow: #00000033; */
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: var(--bg-black);
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

/* ---- Estilos para los botones de cambio de color ---- */
.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icons .btnIcon {
    background-color: var(--bd-keys);
    padding: 5px 20px;
    cursor: pointer;
}

.icons .btnIcon:hover {
    transition: .2s;
    box-shadow: inset 0px 0px 8px var(--btn-shadow);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.icons div:nth-child(1) {
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
}
.icons div:nth-child(2) {
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
}

.icons .btnIcon.active .color {
    fill: var(--bd-btnIconActive);
    stroke: var(--bd-btnIconActive);
}

.icons .btnIcon .color {
    fill: var(--bd-btnIconDesactive);
    stroke: var(--bd-btnIconDesactive);
}

.icons .btnIcon .color.moon {
    stroke: none;
}
.icons .btnIcon .color.sun {
    fill: none;    
}

/* ---- Estilos para el apartado de informacion de la operacion ---- */
.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--txt-white);
    text-align: right;
    flex: 1 1 0%;
}

.display .input {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.display .operator {
    color: #EB666E;
}

.display .brackets,
.display .percent {
    color: #26FED7;
}

/* ---- Estilos para los botones ---- */
.keys {
    background-color: var(--bd-keys);
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -ms-border-radius: 1.5rem 1.5rem 0 0;
    -o-border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 0;
    padding-top: 100%;
    background-color: var(--bg-black);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    user-select: none;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
    color: var(--txt-white);
}

.keys .key:hover {
    transition: .2s;
    box-shadow: inset 0px 0px 8px var(--btn-shadow);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.keys .key.operator span{
    color: #EB666E;
}

.keys .key.action span{
    color: #26FED7;
}